<button class="btn btn-primary me-1">start</button>
<button class="btn btn-primary me-1">pause</button>
<button class="btn btn-primary me-1">reset</button>
<p>Count</p>
<button class="btn btn-primary me-1">count up</button>
<button class="btn btn-primary me-1">count down</button>
<form [formGroup]="form" autocomplete="off">
    <p>Step to</p>
    <input type="number" class="form-control w-25" formControlName="stepTo">
    <p>Step</p>
    <input type="number" class="form-control w-25" formControlName="step">
</form>