<form (ngSubmit)="save()" autocomplete="off" [formGroup]="form">
  <div class="row">
    <div class="col d-flex mb-3">
      <div class="form-floating me-3 w-50">
        <input
          type="text"
          class="form-control"
          formControlName="username"
          id="username"
          placeholder="Nombre de usuario"
        />
        <label for="username">Nombre de usuario</label>
        <span class="form-text text-danger" *ngIf="validate('username')">Debes introducir tu nombre y primer apellido</span>
      </div>
      <div class="form-floating w-50">
        <input
          type="email"
          class="form-control"
          formControlName="email"
          id="email"
          placeholder="Correo electrónico"
        />
        <label for="email">Correo electrónico</label>
        <span class="form-text text-danger" *ngIf="validate('email')">Debes introducir un email válido</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex mb-3">
      <div class="form-floating me-3 w-50">
        <input
          type="password"
          class="form-control"
          formControlName="pass"
          id="pass"
          placeholder="Contraseña"
        />
        <label for="pass">Contraseña</label>
        <span class="form-text text-danger" *ngIf="validate('pass')">Debe tener 4 caracteres como mínimo</span>
      </div>
      <div class="form-floating w-50">
        <input
          type="password"
          class="form-control"
          formControlName="passConfirm"
          id="passConfirm"
          placeholder="Confirmar contraseña"
        />
        <label for="passConfirm">Confirmar contraseña</label>
        <span class="form-text text-danger" *ngIf="validate('passConfirm')">Las contraseñas no coinciden</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex mb-3">
      <select class="form-select me-3 w-50"
              formControlName="country">
        <option selected disabled value="">País</option>
        <option *ngFor="let country of countries" [value]="country.name">{{ country.name }}</option>
      </select>
      <span class="form-text text-danger" *ngIf="validate('country')">Debes introducir tu país</span>
      <div class="form-floating w-50">
        <input
          type="text"
          class="form-control"
          formControlName="city"
          id="city"
          placeholder="Ciudad"
        />
        <label for="city">Ciudad</label>
        <span class="form-text text-danger" *ngIf="validate('city')">Debes introducir tu ciudad</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-around align-items-center mb-4">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="offers"
          id="offers"
        />
        <label class="form-check-label" for="offers">
          Envíame ofertas promocionales
        </label>
      </div>
      <button type="submit"
              class="btn btn-primary" 
              [disabled]="form.invalid">
              {{ (buttonEdit) ? "Editar" : "Guardar" }}
      </button>
    </div>
  </div>
</form>

<app-crud [users]="users" (user)="onUser($event)"></app-crud>