<div class="row padre">
    <div class="col">
        <h3>PARENT</h3>
        <p>message: {{ parentText }}</p>
        <button class="btn btn-primary"
                (click)="serviceToChild()">Use Service</button>
        <button class="btn btn-secondary"
                (click)="inputToChild()">Use Input Property</button>
        <button class="btn btn-success"
                (click)="observableToChild()">Use Observable</button>

        <div class="row hijo">
            <div class="col">
                <app-child [childMsg]="childText"
                           (parentEv)="parentMsg($event)"></app-child>
            </div>
        </div>
    </div>
</div>